<html>
    <meta charset="utf-8">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes"> 
        <meta name="apple-mobile-web-app-status-bar-style" content="black"> 
        <meta name="keywords" content="h5chat,h5聊,伍聊" />
        <meta name="description" content="h5chat是一个超轻量级web聊天室平台，可以方便地在手机上创建聊天室，应用于微信、微信公众号、PC网站、手机网站等场合" />
        <title>
            H5Chat-board
        </title>
    </head>
    <body>
        <h1>
            H5Chat-board  
            
        </h1>
        <div> <a href="/user/logout">退出登录</a></div>

        <p>
hahaha
        </p>
    </body>
</html>
